body
{
    background-color: black;
    color: white;
}

#imgDiv
{
    justify-content: space-evenly;
    width: 850px;
    border: solid white 1px;
}
img
{
    margin-left: 15px;
    margin-right: 15px;
}
#loadingDiv
{
    width: 250px;
    height: 25px;
    background-color: green;
}
.flex-wrapper
{
    display:flex;
    margin-left: 20rem;
    width: 50vw;
}
 #carouselExampleControls
{
    margin: 3rem auto;
}
/* .carousel-inner
{
    margin-left: 25rem;
} */